# Assignment 6

## Name-Varzil Thakkar
## Roll No- 21BCP090

1. Practice all the examples for List, Tuple, Set and Dictionaries. provided in the attached pdf and submit the notebook.
2. Write a Python program to read the admission number and names of 10 students from the keyboard. Create a dictionary of these admission number and names and then display them on the screen

## Question 1

In [ ]:
#List Examples
a=[1,2,3,4]
print(type(a))

In [2]:

a.append('varzil')
print(a)

[1, 2, 3, 4, 'varzil']

In [3]:
mylist = ["apple", "banana", "cherry"]  
mylist[1:3] = ["watermelon"]  
print(mylist)

['apple', 'watermelon']

In [4]:
mylist = ["apple", "banana", "cherry"] 
i = 0 
while i < len(mylist): 
   print(mylist[i]) 
   i = i + 1

apple
banana
cherry

In [5]:
a.insert(1,'vatsal')
print(a)
mylist = ["apple", "banana", "cherry"]  
mylist.insert(2, "watermelon")  
print(mylist)

[1, 'vatsal', 2, 3, 4, 'varzil']
['apple', 'banana', 'watermelon', 'cherry']

In [6]:
mylist = ["apple", "banana", "cherry"] 
morefruits = ["mango", "pineapple", "papaya"] 
mylist.extend(morefruits) 
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [7]:
mylist = ["apple", "banana", "cherry"]  
for x in mylist: 
  print(x)

apple
banana
cherry

In [8]:
# Tuple

b=(1,2,3,4)

In [9]:
print(type(b))
mytuple = ("apple", "banana", "cherry") 
print(mytuple[1])

<class 'tuple'>
banana

In [10]:

mylist.append("orange") 
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [11]:
b.count(3)

print(b)

(1, 2, 3, 4)

In [12]:
# Dictionary
myset = {"apple", "banana", "cherry"} 
tropical = {"pineapple", "mango", "papaya"}

In [13]:
myset.update(tropical) 
print(myset)

{'pineapple', 'apple', 'banana', 'cherry', 'mango', 'papaya'}

In [14]:

c={
    'three':3,
    'four':4
}

In [15]:
myset = {"apple", "banana", "cherry"} 
myset.remove("banana")  
print(myset)

{'cherry', 'apple'}

In [16]:
myset = {"apple", "banana", "cherry"} 
myset.discard("banana")  
print(myset)

{'cherry', 'apple'}

In [17]:
print(type(c))

<class 'dict'>

In [18]:
c.get(1)
print(c.keys())

dict_keys(['three', 'four'])

In [19]:
car ={
    "brand":"Ford","model":"Mustang",  "year":1964
}
x =car.keys()
print(x) #before thechange  
car["color"] = "white" 
print(x) #after thechange

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [20]:
thisdict ={
    "brand":"Ford","model":"Mustang",  "year":1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

## Question 2

In [25]:
My_dict={}
for i in range(1,11):
    Ad_No=int(input("Enter admission number "))
    Name=input("Enter name ")
    My_dict[Ad_No]=Name
    print()
    
    
for keys,values in My_dict.items():
    print(keys)
    print(values)
    print()

Enter admission number 1001
Enter name Varzil

Enter admission number 1002
Enter name ScoobyDoo

Enter admission number 1003
Enter name DalaiLama

Enter admission number 1004
Enter name chandra

Enter admission number 1005
Enter name suraj

Enter admission number 1006
Enter name This is patriarchal society

Enter admission number 1007
Enter name mary

Enter admission number 1008
Enter name yashvi

Enter admission number 1009
Enter name koini

Enter admission number 1010
Enter name ho gya

1001
Varzil
1002
ScoobyDoo
1003
DalaiLama
1004
chandra
1005
suraj
1006
This is patriarchal society
1007
mary
1008
yashvi
1009
koini
1010
ho gya